<html lang="zh-CN">
	<head>
		<linkrel="shortcut icon" href="resources/images/icon_facebook.png">

		<linkrel="Bookmark" href="resources/images/icon_facebook.png">
		<title>极品家丁</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="format-detection" content="telephone=no"/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link href="resources/css/function.css" style="text/css" rel="stylesheet" />
		
	</head>
	<body>
		<div class="top">
		</div>
		<div class="content">
		<p>
		${content}
		</p>
		
		</div>
		<div class="bottom">

			<a href="index?direction=-1&offset=${offset}"><input type="button" value="上一页"/></a>
			<a href="index?direction=1&offset=${offset}"><input type="button" value="下一页"/></a>

		</div>
	</body>
</html>

